[submodule "zgen"]
	path = zgen
	url = https://github.com/tarjoilija/zgen
[submodule "tmuxcompose"]
	path = tmuxcompose
	url = https://github.com/truck/tmuxcompose
[submodule "fonts/codeface"]
	path = fonts/codeface
	url = https://github.com/chrissimpkins/codeface
